/* CSS Document */


.title-1{
	font-weight: bold;
	font-size: 1.1em;
	}
	
.title-2{
	font-weight: bold;
	color: #006699;
	padding-bottom: 15px;
	}

div.moldura .title-legend {
    background: url(visual_ufrgs/fundo_titulo_legend.gif) repeat-x center;
    padding: 2px 10px;
    position: absolute;
    margin-top: -20px;
    font-weight: bold;
	color: #006699;
}    
    
.txt-bold{
	font-weight: bold;
	}
	
.txt-highlight{
	color: red;
	}
	
/*Mensagens Padronizadas*/
	
.avisoGrande, .alertaGrande {
	background-image: url(visual_ufrgs/aviso.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 600px;
	clear: both;
	}
	
.avisoGrande-title, .alertaGrande-title{
	position: relative;
	left: 80px;
	top: 20px;
	color: #006391;
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	}
	
.message-text{
	position: relative;
	left: 80px;
	top: 10px;
	text-align:justify;
	}
	
.erroGrande {
	background-image: url(visual_ufrgs/erro.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 600px;
	clear: both;
	}
	
.erroGrande-title {
	position: relative;
	left: 80px;
	top: 20px;
	color: #FC0000;
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	}
	
.sucessoGrande {
	background-image: url(visual_ufrgs/sucesso.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 600px;
	clear: both;
	}
	
.sucessoGrande-title {
	position: relative;
	left: 80px;
	top: 20px;
	color: #009D00;
	font-size: 1.5em;
	font-weight: bold;
	clear: both;
	}

/*Links*/

.link{
	color: red;
	}

	
/*Especiais*/
	
.border-none{
	border: none;
	}
	
.hidden, .escondido{
	display: none;
	}
	
.border-none{
	border: none;
	}

.bt_comp_exp{
	margin-right: 10px;
	}
	
/*Fieldsets expansiveis*/	
fieldset.expansivel {
	padding: 0;
}

fieldset.expansivel legend {
	padding: 0.5em 1em 0.5em 2em;
	margin-left: 0.5em;
	background: url("/Design/visual_ufrgs/expandir.gif") no-repeat;
	background-position: 0.5em center;
	cursor: pointer;
	transition: all .3s ease-out;
}

fieldset.expansivel .conteudo {
	display: none;
	padding: 0.5em;
}

fieldset.expansivel.expandido > legend {
	background-image: url("/Design/visual_ufrgs/contrair.gif");
}

fieldset.expansivel.expandido > .conteudo {
	display: inherit;
}
	
/*Avisos*/

.fieldInfo.comIcone legend, .fieldSucesso.comIcone legend, 
.fieldErro.comIcone legend, .fieldErro.comIconeProibicao legend, .fieldAlerta.comIcone legend
{
    margin-left: -40px;
}

.fieldAlerta {
	color: #B14400;
	background-color: #FEFEDD !important;
	border: 1px solid #B14400;
	}
	
.fieldAlerta legend{
	color: #B14400;
	font-weight: bold;
	}

.fieldAlerta.comIcone {
    padding-left: 50px;
    background: url(visual_ufrgs/icone_aviso.png) no-repeat #FEFEDD;
    background-position: 5px 50%;
    min-height: 30px;
}

.fieldSucesso{
	color: #007700;
	background-color: #E1FFE1 !important;
	border: 1px solid #007700;
	}
	
.fieldSucesso legend{
    color: #007700;
	font-weight: bold;
	}

.fieldSucesso.comIcone {
    padding-left: 50px;
    background: url(visual_ufrgs/icone_sucesso.png) no-repeat #E1FFE1;
    background-position: 5px 50%;
    min-height: 30px;
}

.fieldErro {
	color: #AA0000;
	background-color: #FFE1E1 !important;
	border: 1px solid #a00;
	}
	
.fieldErro legend{
	color: #AA0000;
	font-weight: bold;
	}

.fieldErro.comIcone {
    padding-left: 50px;
    background: url(visual_ufrgs/icone_erro.png) no-repeat #FFE1E1;
    background-position: 5px 50%;
    min-height: 30px;
}    

.fieldErro.comIconeProibicao {
    padding-left: 50px;
    background: url(visual_ufrgs/icone_proibido.png) no-repeat #FFE1E1;
    background-position: 5px 50%;
    min-height: 30px;
} 

.fieldInfo {
    color: #006699;
    background-color: #F2F9FF !important;
    border: 1px solid #006699;
}
.fieldInfo legend {
    color: #006699;
	font-weight: bold;
}

.fieldInfo.comIcone {
    padding-left: 50px;
    background: url(visual_ufrgs/icone_informacao.png) no-repeat #F2F9FF;
    background-position: 5px 50%;
    min-height: 30px;
}

.fieldAlerta legend, .fieldErro legend, .fieldInfo legend, .fieldSucesso legend {
    padding: 0 10px;
}

fieldset.comentario {
    background-image: url(visual_ufrgs/gradiente_fundo_verde.jpg); background-repeat:repeat-x;
    background-color: #FFF;
    border: 1px solid #CCE4FF ;
    padding: 8px;
/*    width: 93%;   */
}

fieldset.contribuicao {
    background-image: url(visual_ufrgs/gradiente_fundo_rosa.jpg); background-repeat:repeat-x;
    background-color: #FFF;
    border: 1px solid #CCE4FF ;
    padding: 8px;
/*     width: 93%;  */
}

/* listas */

ul.listaSimples {
    list-style: square;
    margin-left: 25px;
}

ul.listaComum, ol.listaComum, ul, ol {
    margin-left: 25px;
}

/* classes genéricas */

.textoCentralizado, .centro {
    text-align: center !important;
}

.textoJustificado {
    text-align: justify;
}

.textoADireita, .alinhaDireita {
    text-align: right;
}

.textoGrande {
    font-size: 16px;
    font-weight: bold;
}

.textoAzul, .textoMensagem {
    color: #005B95;
}

.textoVerde, .textoSucesso {
    color: #009D00;
}

.textoVermelho, .textoErro {
    color: #CC0000;
}

.textoAmarelo, .textoAlerta {
	color: #c1ae00;
}

.negrito {
    font-weight: bold;
}

.italico {
    font-style: italic; 
}